body{
    display: flex;
    background-color:rgb(44, 44, 78);
    align-items: center;
    justify-content: center;
}
.container_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width:400px;
    height: 600px;
    margin-top: 50px;
}
.container_botoes{
    display: inline-block;
    background-color: grey;
    margin:6px;
    margin-top: 10px;
    border-radius: 15px;
    justify-content: center;
}
#bt1{
    width:110px;
    height: 50px;
    border-radius: 30px;
}
#bt2{
    width: 133px;
    height: 50px;
    border-radius: 30px;
}
#bt3{
    width: 133px;
    height: 50px;
    border-radius: 30px;
}
.container_input{
    display: inline-block;
    background-color: grey;
    margin-top: 40px;
    font-size: 50px;
    padding: 11px;
    border-radius: 20px;
}
#input1{
    width:100px;
    height: 70px;   
    font-size: 80px;
    border-radius: 5px;
}
#input2{
    width:100px;
    height: 70px;
    font-size: 80px;
    border-radius: 5px;
    
}
#input3{
    width:100px;
    height: 70px;
    font-size: 80px;
    border-radius: 5px;
    
}
